footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 1rem 1rem 0 0;
}

footer > .reactProjectText {
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 1rem;
}

.footerIcon {
    font-size: 2rem;
}

.footerIcon:first-child {
    margin-right: 1rem;
}


