header {
    background-image: url('../../assets/headerImage.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.headerTitle, .headerButton {
    padding: 1rem;
}

.headerTitle {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color: white;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }
}

.headerButton {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerButton > button {
    border: 1px solid transparent;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    transition: border 0.5s ease;
}

.headerButton > button:hover {
    cursor: pointer;
    border: 1px solid white;
}
